<template>
  <div>
    <h2>Answer the following questions</h2>
    <div class="gamePlay">
      <QuizQuestion
        v-if="questions.length"
        v-bind:question="questions[index]"
        @answerQuestion="submitAnswer"
      />
      <div v-if="!questions.length">
        <b-spinner label="Spinning"></b-spinner>
      </div>
    </div>
  </div>
</template>

<script>
import QuizQuestion from "../components/QuizQuestion.vue";
import Question from "../scripts/Question";
import Player from "../scripts/Player";

export default {
  name: "GamePlay",
  components: {
    QuizQuestion
  },
  data() {
    return {
      questions: [],
      player: {},
      playerName: this.$route.params.playerName,
      possibleAnswers: [],
      index: 0
    };
  },
  /**
   * Fetching quiz API using axios and storing each question in the response as Question Object
   * Creating Player Object
   */
  beforeCreate() {
    this.$axios.get("https://opentdb.com/api.php?amount=10").then(response => {
      this.questions = response.data.results.map(res => {
        return new Question(res);
      });
      this.player = new Player(this.playerName, [], 0);
    });
  },
  methods: {
    /**
     * Emitting the event from the players button click, and determining wheter if the answer is correct or not.
     * If the answer is correct, add points to the player.
     * If no questions left, redirect to GameOver component.
     */
    submitAnswer(answer) {
      this.player.addAnswer(answer);
      if (this.questions[this.index].getCorrectAnswer() === answer) {
        this.player.addScore();
      }
      if (this.index < 9) {
        this.index++;
      } else {
        this.$router.push({
          name: "GameOver",
          params: { player: this.player, questions: this.questions }
        });
      }
    }
  }
};
</script>

<style scoped>
h2 {
  margin-bottom: 25px;
  color: #fff;
  font-size: 3em;
  font-weight: 300;
}
.gamePlay {
  width: 60%;
  margin: auto;
  padding: 25px;
  background: #fff;
  border: 10px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 255px rgba(0, 0, 0, 0.7);
}
</style>
