<template>
  <div>
    <div class="gameOver">
      <h1>Game Over</h1>
      <p>The Results Are in!</p>
      <h2>{{ player.getName() }}'s Score: {{ player.getScore() }}</h2>
    </div>
    <div class="gameOver">
      <QuizResults v-bind:questions="questions" v-bind:player="player" />
    </div>
    <div class="gameOver">
      <b-button-group size="lg">
        <b-button variant="success" v-on:click="playAgian()"
          >Play Agian</b-button
        >
        <b-button variant="danger" v-on:click="quit()">Quit</b-button>
      </b-button-group>
    </div>
  </div>
</template>

<script>
import QuizResults from "./QuizResults.vue";

export default {
  name: "GameOver",
  components: {
    QuizResults
  },
  data() {
    return {
      player: this.$route.params.player,
      questions: this.$route.params.questions
    };
  },
  methods: {
    playAgian() {
      this.$router.push({
        name: "GamePlay",
        params: { playerName: this.player.getName() }
      });
    },
    quit() {
      this.$router.push({
        name: "GameMenu"
      });
    }
  }
};
</script>

<style scoped>
h1 {
  color: #ff443a;
}
.gameOver {
  width: 60%;
  margin: auto;
  padding: 25px;
  background: #fff;
  border: 10px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 255px rgba(0, 0, 0, 0.7);
}

.gameOver:not(:last-of-type) {
  margin-bottom: 3em;
}
</style>
