<template>
  <div class="gameMenu">
    <h1>Welcome to Vue Trivia!</h1>
    <p>Type your name to get started</p>
    <b-input-group id="input" class="mt-3" size="lg">
      <b-form-input
        v-model="playerName"
        placeholder="Choose a name..."
      ></b-form-input>
      <b-input-group-append>
        <b-button variant="success" v-on:click="startGame(playerName)"
          >Start game</b-button
        >
      </b-input-group-append>
    </b-input-group>
  </div>
</template>

<script>
export default {
  name: "GameMenu",
  data() {
    return { playerName: "" };
  },
  methods: {
    startGame(playerName) {
      this.$router.push({ name: "GamePlay", params: { playerName } });
    }
  }
};
</script>

<style scoped>
.gameMenu {
  width: 40%;
  margin: auto;
  padding: 25px;
  background: #fff;
  border: 10px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 255px rgba(0, 0, 0, 0.7);
}

#input {
  margin: 25px auto;
  width: 80%;
}
</style>
