<template>
  <div class="quizResults">
    <b-list-group
      class="results"
      v-for="(result, i) in questions"
      v-bind:item="result"
      v-bind:index="i"
      v-bind:key="i"
    >
      <b-list-group-item class="result">
        <b class="question">{{ result.getQuestionText() }}</b>
        <br />
        Correct answer:
        <span>{{ result.getCorrectAnswer() }}</span>
        <br />
        Your answer:
        <b-badge
          variant="success"
          v-if="player.getAnswers()[i] === result.getCorrectAnswer()"
          >{{ player.getAnswers()[i] }}</b-badge
        >
        <b-badge
          variant="danger"
          v-if="player.getAnswers()[i] !== result.getCorrectAnswer()"
          >{{ player.getAnswers()[i] }}</b-badge
        >
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: "QuizResults",
  props: {
    questions: Array,
    player: Object
  }
};
</script>

<style scoped>
.gameOver {
  width: 40%;
  margin: auto;
  padding: 25px;
  background: #fff;
  border: 10px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 255px rgba(0, 0, 0, 0.7);
}
.result {
  margin: 25px 0;
  line-height: 1.5;
  padding-bottom: 25px;
  text-align: left;
}
</style>
