<template>
  <div class="quizQuestion">
    <span class="questionCategory">{{ question.getCategory() }}</span>
    <p class="questionText">{{ question.getQuestionText() }}</p>
    <div
      class="answers"
      v-for="(answer, i) in question.possibleAnswers"
      v-bind:item="answer"
      v-bind:index="i"
      v-bind:key="i"
    >
      <b-button v-on:click="() => answerQuestion(answer)" size="lg">{{
        answer
      }}</b-button>
    </div>
  </div>
</template>

<script>
import Question from "../scripts/Question";

export default {
  name: "QuizQuestion",
  props: {
    question: Question
  },
  methods: {
    /**
     * Emitting the answer from the player.
     */
    answerQuestion(answer) {
      this.$emit("answerQuestion", answer);
    }
  }
};
</script>

<style scoped>
.questionCategory {
  background: #333;
  color: #fff;
  padding: 5px;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.questionText {
  font-size: 2em;
  display: block;
  margin-bottom: 25px;
  color: #4b4b4b;
}

.answers {
  margin-bottom: 0.5em;
}
</style>
