<template>
  <div id="app">
    <img alt="Vue Logo" src="./assets/logo.png" />
    <router-view />
  </div>
</template>

<script>
export default {
  name: "app",
  components: {}
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: linear-gradient(120deg, #42b883, #35495e);
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  display: table;
}
</style>
